.auth {
    background: #fff;
    width: 600px;
    margin: -80px auto;
    border-radius: 10px;
    padding: 50px;
}

.auth img {
    width: 70%;
    padding-left: 90px;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.inputGroup {
    width: 530px;
    position: relative;
    border: 3px solid #bbbbbb;
    border-radius: 8px;
    margin: 32px;
}

.inputGroup input {
    padding: 16px 24px;
    border: none;
    background-color: transparent;
    width: 100%;
    color: #363636;
    font-size: 16px;
    line-height: 24px;
}

.inputGroup:hover, .inputGroup:focus-within {
    border-color: #00a884; /* 2fc32f */
}

.inputGroup input:focus, .inputGroup:hover input {
    color: #00a884; /* 2fc32f */
}

.inputGroup label {
    position: absolute;
    background-color: transparent;
    padding: 16px 24px;
    line-height: 24px;
    top: 0;
    left: 0;
    bottom: 0;
    color: #898989;
    cursor: text;
}

.inputGroup:hover label {
    color: #00a884;
}

.inputGroup:focus-within label,
.inputGroup input:not(:placeholder-shown) ~ label {
    padding: 0 8px;
    background-color: #ffffff;
    top: -12px;
    left: 16px;
    bottom: auto;
    color: #363636;
}