.greenBackLine {
    background: #00a884;
    height: 14vh; /* 15vh */
}

.main {
    background: #fff;
    top: 20px;
    bottom: 20px;
    right: 100px; /* 40px */
    left: 100px;  /* 40px */
    border-radius: 3px;
}
