.send_message {
    background: #f0f2f5;
    padding: 10px;
}

.new_message {
    flex: 1;
    border: 0;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    resize: none;
}

.new_message:focus {
    outline: none;
}

.iconSize {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    /*color: #888;*/
}