.messageItem {
    flex: 1;
    margin: 3px 0;
    justify-content: flex-end;
}

.content {
    background: #fff;
    display: table;
    padding: 4px 6px;
    /*padding: 7px 60px 7px 10px;*/
    border-radius: 8px;
    max-width: 450px;
}

.content:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -9px;
    top: 0;
    z-index: 1;
    background: #fff;
    border-radius: 2px;
}

.content:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: -18px;
    top: 5px;
    z-index: 1;
    background: #efeae2;
    transform: rotate(55deg);
}

.stamp {
    bottom: 7px;
    right: 7px;
}

.text {
    padding: 4px 0;
    margin-bottom: 20px;
}

.mine {
    background: #d9fdd3;
    display: table;
    padding: 4px 6px;
    /*padding: 7px 60px 7px 10px;*/
    border-radius: 8px;
    max-width: 450px;
}

.mine:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: auto;
    right: -10px;
    top: 0;
    z-index: 1;
    background: #d9fdd3;
    border-radius: 2px;
}

.mine:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: auto;
    right: -18px;
    top: 5px;
    z-index: 1;
    background: #efeae2;
    transform: rotate(40deg);
}
