.add_contact_bar {
    background: #fff;
    width: 500px;
    border-right: 1px #ddd solid;
    animation-duration: .2s;
    animation-name: slidein;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.add_contact_header {
    /*height: 111px;*/
    height: 11.8vh;
    background-color: var(--primary);
}

@keyframes slidein {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.header_content {
    display: flex;
    flex-direction: row;
    padding: 55px 0 0 30px;
}

.header_content p {
    color: #fff;
    padding-top: 11px;
    padding-left: 10px;
}

.header_content img {
    padding-top: 10px !important;
}

.icon_size {
    width: 24px;
    height: 24px;
}